<form class="sign-in-container container-sm d-flex flex-column align-items-center">
	<img class="mb-4" src="https://images.vexels.com/media/users/3/162366/isolated/preview/140d922112ef50bf2f395f18d098f673-panda-sitting-spot-muzzle-fat-flat-rounded-geometric-by-vexels.png" alt="" width="100" height="100">
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<div class="form-group form-group-block">
		<label for="exampleFormControlInput1">Email address</label>
		<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
  </div>
		<div class="form-group form-group-block">
			<label for="exampleFormControlInput1">Password</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
  </div>
			<div class="checkbox mb-3 align-self-start">
				<label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<div style="width: 100%" class="d-flex justify-content-between mt-3">
				<a style="cursor: pointer" class="text-primary" [routerLink]="['/forgot-auth']">Forgot password?</a>
				<a style="cursor: pointer" class="text-primary" [routerLink]="['/sign-up']">Don't have an account? Sign
					Up</a>
			</div>
</form>